<!DOCTYPE html>
<html>
  <head>
    <title>SearchApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: 'shared/navigation' %>
    <%= render partial: 'shared/flash_messages' %>
    <div class="container">
      <main>
        <%= yield %>
      </main>
      <footer>
        Created by Lukáš Rynt
      </footer>
    </div>
  </body>
</html>
